*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2.3vh;
}
.navList{
    display: flex;
    list-style: none;
}
.navList li{
    padding: 1vh;
}
/* form css  */

/* Style for the form container */
.bookForm {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the fieldset */
.formFieldset {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}

/* Style for the legend */
.formLegend {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.formLabel {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.formInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.submitButton {
    padding: 10px 15px;
    background-color: #b1d6b2;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}

.submitButton:hover {
    background-color: #bacebb;
}



/* table css  */

.bookTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tableCaption {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.tableHeader {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-weight: bold;
}

.tableData {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.tableAction {
    display: flex;
}
.bookImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.editButton, .deleteButton {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.editButton {
    background-color: #4CAF50;
    color: white;
}

.editButton:hover {
    background-color: #45a049;
}

.deleteButton {
    background-color: #f44336;
    color: white;
}

.deleteButton:hover {
    background-color: #e53935;
}
